<footer class= "footer">

	<small>
	Demo App Project by Grace Sojor
	</small>
	
	<nav>
		<ul>
		<li><%= link_to "About", '#'%> </li>
		<li><%= link_to "Contact", '#'%> </li>
		</ul>

	</nav>

</footer>